<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'usersList')}">

<body>

<h2>Users</h2>
<form th:object="${user}" class="form-horizontal" id="add-user-form" method="post">
    <div class="form-group has-feedback">
        <input
                th:replace="~{fragments/inputField :: input ('Username', 'userName', 'text')}" />
        <input
                th:replace="~{fragments/selectField :: select ('Role', 'roles', ${roles})}" />
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button
                    th:with="text=${user['new']} ? 'Add User' : 'Update User'"
                    class="btn btn-default" type="submit" th:text="${text}">Add
                User</button>
        </div>
    </div>
</form>
</body>
</html>