<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      th:replace="~{fragments/layout :: layout (~{::body},'clients')}">

<body>


<h2>Client Information</h2>


<table class="table table-striped" th:object="${client}">
  <tr>
    <th>Name</th>
    <td><b th:text="*{firstName + ' ' + lastName}"></b></td>
  </tr>
  <tr>
    <th>Address</th>
    <td th:text="*{address}"></td>
  </tr>
  <tr>
    <th>City</th>
    <td th:text="*{city}"></td>
  </tr>
  <tr>
    <th>Telephone</th>
    <td th:text="*{telephone}"></td>
  </tr>
</table>

<a th:href="@{{id}/edit(id=${client.id})}" class="btn btn-default">Edit
  Client</a>
<a th:href="@{{id}/cars/new(id=${client.id})}" class="btn btn-default">Add
  New Car</a>
<a sec:authorize="hasRole('ADMIN')" th:href="@{{id}/deletedSuccessfully(id=${client.id})}" class="btn btn-default">Delete
  Client</a>

<br />
<br />
<br />
<h2>Cars and Visits</h2>

<table class="table table-striped">

  <tr th:each="car : ${client.cars}">
    <td valign="top">
      <dl class="dl-horizontal">
        <dt>Model</dt>
        <dd th:text="${car.model}"></dd>
        <dt>Date of Production</dt>
        <dd
                th:text="${#temporals.format(car.dateOfProduction, 'yyyy-MM-dd')}"></dd>
        <dt>Type</dt>
        <dd th:text="${car.carType}"></dd>
      </dl>
    </td>
    <td valign="top">
      <table class="table-condensed">
        <thead>
        <tr>
          <th>Visit Date</th>
          <th>Description</th>
          <th>Mechanic</th>
          <div sec:authorize="hasRole('ADMIN')">
            <th>Delete Visit</th>
          </div>
        </tr>
        </thead>
        <tr th:each="visit : ${car.visits}">
          <td th:text="${#temporals.format(visit.date, 'yyyy-MM-dd')}"></td>
          <td th:text="${visit?.description}"></td>
          <td th:text="${visit?.mechanic}"></td>
          <div sec:authorize="hasRole('ADMIN')">
            <td><a
                    th:href="@{{clientId}/cars/{carId}/visits/{visitId}/deleted(clientId=${client.id},carId=${car.id}, visitId=${visit.id})}">Delete
              Visit</a></td>
          </div>
        </tr>
        <tr>
          <td><a
                  th:href="@{{clientId}/cars/{carId}/edit(clientId=${client.id},carId=${car.id})}">Edit
            Car</a></td>
          <td><a
                  th:href="@{{clientId}/cars/{carId}/visits/new(clientId=${client.id},carId=${car.id})}">Add
            Visit</a></td>
          <div sec:authorize="hasRole('ADMIN')">
            <td><a
                    th:href="@{{clientId}/cars/{carId}/deleted(clientId=${client.id},carId=${car.id})}">Delete
              Car</a></td>
          </div>
        </tr>
      </table>
    </td>
  </tr>

</table>

</body>

</html>