<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      th:replace="~{fragments/layout :: layout (~{::body}, 'mechanics')}">
<head>
    <meta charset="UTF-8">
    <title>List of Mechanics</title>
</head>
<body>
<h2>Mechanics</h2>

<table id="mechanics" class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Specialties</th>
        <div sec:authorize="hasRole('ADMIN')">
            <th>Delete Mechanic</th>
        </div>
    </tr>
    </thead>
    <tbody>
    <tr th:each="mechanic : ${mechanics}">
        <td>
            <a th:href="@{/mechanics/__${mechanic.id}__}" th:text="${mechanic.firstName + ' ' + mechanic.lastName}"></td>
        <td>
            <span th:each="specialty : ${mechanic.specialties}"
                  th:text="${specialty.Name + ', '}"/> <span
                th:if="${mechanic.specialties.size() == 0}">none</span></td>
        <div sec:authorize="hasRole('ADMIN')">
            <td>
                <a th:href="@{/mechanics/{mechanicId}/deleted(mechanicId=${mechanic.id})}"/>Delete</a>
            </td>
        </div>
    </tr>
    </tbody>
</table>

<a class="btn btn-default" th:href="@{/mechanics/new}">Add Mechanic</a>
</body>
</html>