<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body}, 'mechanics')}">
<head>
    <meta charset="UTF-8">
    <title>Auto Service Index</title>
</head>
<body>
<h2 th:text="#{mechanicDeletedSuccessfully}">Welcome</h2>

<a class="btn btn-default" th:href="@{/mechanics}">Mechanics List</a>

<!--<div class="row">-->
<!--    <div class="col-md-12">-->
<!--        <img class="img-responsive" src="../static/resources/images/auto-service.png"-->
<!--             th:src="@{/resources/images/auto-service.png}" height="300px" width="300px"/>-->
<!--    </div>-->
</div>
</body>
</html>