<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body}, 'carTypesList')}">
<head>
    <meta charset="UTF-8">
    <title>List of Mechanics</title>
</head>
<body>
<h2>Car Types</h2>

<table id="carTypes" class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="carType : ${carTypes}">
        <td th:text="${carType.id}"/>
        <td>
            <a th:href="@{/carTypes/__${carType.id}__/edit}" th:text="${carType.name}"/></a>
        </td>
        <td>
            <a th:href="@{/carTypes/{carTypeId}/deleted(carTypeId=${carType.id})}"/>Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<a class="btn btn-default" th:href="@{/carTypes/new}">Add Car Type</a>
</body>
</html>